

:root {
  /* Colors */
  --color-black-1: black;
  --color-black-brown: #777171;
  --color_white: white;
  --color_yellow-1: #FFFDD1;
  --color_grey-1: #2E2F2F;
  --color_grey-2: #9F9090;
}

:root{

  /* Elements */

  --color_background__key-white--default: var(--color_white);
  --color_text__key-white--default: var(--color-black-1);

  --color_key-white--pushed: var(--color_yellow-1);
  --color_Key-black--pushed: var(--color-black-brown);

  --color_backround_keyboard_base: var(--color_grey-1);
  --color_keyboard_base_text: var(--color_grey-2)

}

*{
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #92db92, #abe4aa, #c3ecc3, #dbf4db, #f3fcf3);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.logo {
  height: 60%;
  width: 60px;
  margin-right: auto;
}

h1 {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #30863E;
  margin-right: auto;
}

.title-ted {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


main {
  height: 80%;
  width: 90%;
  margin: 0 auto;
}


/* #endregion */


footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5rem;
  margin-right: 2rem;
  height: 10%;
  padding-bottom: 20px;
}


@media only screen and (max-width: 600px) {
  .key-white {
    width: 25px;
    height: 120px;
    border-radius: 10px;
    font-size: 9px;
  }
  .key-black {
    width: 20px;
    height: 60px;
    border-radius: 5px;
    z-index: 2;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 9px;
  }
}
