body {
    background-image: linear-gradient(to bottom, #f3fcf3, #dbf4db, #c3ecc3, #abe4aa, #92db92);
    height: 100vh;
}

header {
    height: 10%;
    background-color: aqua;
}

main {
    height: 80%;
    background-color: aliceblue;
}

footer {
    height: 10%;
    background-color: rebeccapurple;
}