


.card__title{
  background-color: rgba(255, 199, 222, 0.945);
  padding: 2rem;
  margin-top: -18px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cards__card {
  flex-shrink: 0;
  width: 20vw;
  border-radius: 20px;
}

.card__image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}