<html>
  <template id="keyboard-key">
    <style>
      :host {
        --color-black: black;
        --color-white: white;
      }

      .octave__key-white{
        display: flex;
        width: 50px;
        height: 150px;
        background-color: var(--color-white);
        border: 2px solid var(--color-black)
      }
    </style>

    <div class='octave__key-white' data-note=${this.note}>
      <span class='key__shortcut'>${this.shortcut}</span>
      <span class='key__note'>${this.note}</span>
    </div>
    
  </template>
</html>