

:host {
  /* Colors */
  --color-black-1: black;
  --color-black-brown: #777171;
  --color_white: white;
  --color_yellow-1: #FFFDD1;
  --color_grey-1: #2E2F2F;
  --color_grey-2: #9F9090;
}

:host{

  /* Elements */

  --color_background__key-white--default: var(--color_white);
  --color_text__key-white--default: var(--color-black-1);
  --color_key-white--pushed: var(--color_yellow-1);
  --color_Key-black--pushed: var(--color-black-brown);
  --color_backround_keyboard_base: var(--color_grey-1);
  --color_keyboard_base_text: var(--color_grey-2)
}

*{
  box-sizing: border-box;
}

/* #region Keys */

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: capitalize;
 }
 
 .key span{
   text-align: center;
 }

 .key-white {
   width: 50px;
   height: 240px;
   border-radius: 15px;
   border: 2px solid var(--color-black-1);
   color: var(--color-text__key-white--default);
   background-color: var(--color_background__key-white--default);
 }
 
 .key-black {
   width: 40px;
   height: 120px;
   color: var(--color_white);
   background-color: var(--color-black-1);
   border-radius: 10px;
   z-index: 2;
   margin-left: -20px;
   margin-right: -20px;
 }
 
 .key-black:hover {
   background: var(--color_Key-black--pushed);
 }
 
 .key-white:hover {
   background: var(--color_key-white--pushed);
 }
 
 /* #endregion */